<% include partials/leadspacetop %>

<main role="main" aria-labelledby="ibm-pagetitle-h1">
  <div id="ibm-pcon">
    <div id="ibm-content">
      <div id="ibm-content-body">

        <div class="ibm-common-overlay ibm-background-cool-white-core" data-widget="overlay" id="githublogin">
            <div class="ibm-center">
              <p>Login Options:</p>
              <p><a class="ibm-btn-sec" href="/auth/github">Login with <span class="ibm-bold">GitHub</span></a></p>
            </div>
        </div>

        <div id="ibm-content-main">
                <div class="ibm-columns">
                      <div class="ibm-col-1-1">

                      <!-- Body starts -->

                      <div class="ibm-columns ibm-margin-bottom-r1">
                        <div class="ibm-col-12-10">
                          <h1 style="font-size: 40px; color: #4178BE;" class="ibm-padding-left-1">Example Diagrams</h1>
                        </div>
                        <div class="ibm-col-12-2 ibm-right">
                          <p>
                            <span class="ibm-h4">Share On <span>
                               <a href="#"><img alt="Twitter" width="26pt" height="26pt" src="/images/TwitterIcon.png"></a>
                               <a href="#"><img alt="Facebook" width="26pt" height="26pt" src="/images/FacebookIcon.png"></a>
                               <a href="#"><img alt="LinkedIn" width="26pt" height="26pt" src="/images/LinkedInIcon.png"></a>
                           </p>
                        </div>
                      </div>
                      <div class="ibm-columns ibm-vertical-center ibm-margin-bottom-r1">
                        <form action="/content" method="get" name="sortForm" >
                          <div class="ibm-col-6-2">
                            <p>Search diagrams through the tags</p>
                            <input type="text" class="ibm-styled-input ibm-fullwidth" name="searchId" placeholder="Ex: Bluemix" style="padding:6px 15px 6px 30px; margin:3px; background: url(images/SearchIcon.png) no-repeat 8px 6px;">
                            <input type="submit" style="display: none" />
                          </div>
                          <div class="ibm-col-6-3">

                          </div>
                          <div class="ibm-col-6-1 ibm-right">
                              <p>Sorted By</p>
                              <p class="ibm-form-elem-grp">
                                <span>
                                    <select id="sortId" name="sortId" onchange="this.form.submit()">
                                      <option value="">Select one</option>
                                      <option value="downloads" <%= formId == 'downloads' ? 'selected' : ''%>>Downloads</option>
                                      <option value="likes" <%= formId == 'likes' ? 'selected' : ''%>>Likes</option>
                                      <option value="comments" <%= formId == 'comments' ? 'selected' : ''%>>Comments</option>
                                    </select>
                                </span>
                              </p>
                          </div>
                        </form>
                      </div>

                      <div class="ibm-columns ibm-fluid ibm-flex ibm-flex--wrap" data-widget="setsameheight" data-items=".ibm-card">
                          <% cards.forEach(function(card){ %>
                          <div class="ibm-col-6-2 ibm-col-medium-6-3" ibm-flex>
                              <div class="ibm-card">
                                  <div class="ibm-card__image"><img width="300" height="170" alt="picture" src="<%= card.image %>" class="ibm-resize"></div>
                                  <div class="ibm-card__content">
                                      <h3 class="ibm-h3"><%= card.title %></h3>
                                      <p><%= card.description %></p><br>
                                      <p>Tags:
                                        <% for(var l=0; l < card.tags.length; l++ ) { %>
                                            <a href="#" class="ibm-ind-link"><%= card.tags[l] %></a>
                                            <% if(l!=(card.tags.length-1)){ %>
                                              ,
                                            <% } %>
                                        <% } %>
                                      </p><br>
                                      <div class="ibm-columns ibm-fluid ibm-flex ibm-flex--wrap">
                                          <p class="ibm-left-block">
                                              <span class="ibm-icon-nolink ibm-like-link ibm-bold"><%= card.likes %></span>
                                              <span class="ibm-textcolor-gray-30">|</span><br class="ibm-br-large">
                                              <span class="ibm-icon-nolink ibm-download-link ibm-bold"><%= card.downloads %></span>
                                              <span class="ibm-textcolor-gray-30">|</span><br class="ibm-br-large">
                                              <span class="ibm-icon-nolink ibm-forum-link ibm-bold"><%= card.comments %></span>
                                          </p>
                                      </div>
                                  </div>
                                  <br>
                                  <div class="ibm-card__bottom">
                                      <p class="ibm-button-link ibm-padding-bottom-0"><a href="/details?id=<%= card._id %>" class="ibm-btn-pri ibm-btn-blue-50">Download</a></p>
                                  </div>
                              </div>
                          </div>
                          <% }) %>
                      </div>


                      <% if (pageCount > 1) { %>
                      <ul role="presentation" class="ibm-pagination ibm-pagination--centered ibm-margin-top-r1 ibm-margin-bottom-r1">
                        <% if (currentPage > 1) { %>
                            <li class="ibm-icononly"><a class="ibm-firstpage-link" href="/content?searchId=<%= searchId %>&sortId=<%= formId %>&page=1">First Page</a></li>
                            <li class="ibm-icononly"><a class="ibm-previous-link" href="/content?searchId=<%= searchId %>&sortId=<%= formId %>&page=<%= currentPage-1 %>">Previous</a></li>
                        <% } %>
                        <% var i = 1;
                        if (currentPage > 5) {
                        i = +currentPage - 4;
                        } %>
                        <% if (i !== 1) { %>
                            <li class="ibm-pagination__ellipsis"></li>
                        <% } %>
                        <% for (i; i<=pageCount; i++) { %>
                          <% if (currentPage == i) { %>
                              <li class="ibm-pagination__page"><span class="ibm-active"><%= i %></span></a></li>
                          <% } else { %>
                              <li class="ibm-pagination__page"><a href="/content?searchId=<%= searchId %>&sortId=<%= formId %>&page=<%= i %>"><%= i %></a></li>
                          <% } %>
                          <% if (i == (+currentPage + 4)) { %>
                              <li class="ibm-pagination__ellipsis"></li>
                          <% break; } %>
                        <% } %>
                        <% if (currentPage != pageCount) { %>
                            <li class="ibm-icononly"><a class="ibm-next-link" href="/content?searchId=<%= searchId %>&sortId=<%= formId %>&page=<%= currentPage+1 %>">Next</a></li>
                            <li class="ibm-icononly"><a class="ibm-lastpage-link" href="/content?searchId=<%= searchId %>&sortId=<%= formId %>&page=<%= pageCount %>">Last Page</a></li>
                        <% } %>
                      </ul>
                      <% } %>


                      <!-- Body ends -->


                      </div>
                      <br>
                </div>

        </div>

      </div>
    </div>
  </div>
</main>

<% include partials/leadspacebottom %>
